---
import '../styles/global.css';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/favicon.svg" />
		<title>Tim Ticehurst</title>
		<meta name="title" content="Tim Ticehurst" />
		<meta name="description" content="A digital libary archiving the life and artifacts of Tim Ticehurst." />

		<!-- Open graph meta tags -->
		<meta property="og:title" content="Tim Ticehurst" />
		<meta property="og:description" content="A digital libary archiving the life and artifacts of Tim Ticehurst." />
		<meta property="og:url" content="https://timticehurst.com/" />
		<meta property="og:type" content="website" />
		<meta property="og:image" content="https://timticehurst.com/seo.png" />

		<!-- Twitter meta tags -->
		<meta property="twitter:title" content="Tim Ticehurst" />
		<meta property="twitter:description" content="A digital libary archiving the life and artifacts of Tim Ticehurst." />
		<meta property="twitter:url" content="https://timticehurst.com/" />
		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:image" content="https://timticehurst.com/seo.png" />
	</head>
	<body>
		<main>
			<slot />
		</main>
	</body>
</html>
